/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


:root {
  --main-color-normal: #EE287C;
  --main-color-high: #B60050;
  --main-color-low: #FF67AB;
  --main-color-transparent:rgba(182, 0, 79, 0.05);
  --second-color-normal: #803E98;
  /* dark section */
  --bg-color-dark: black;
  --font-color-dark: white;
  --border-radius-img: 10%;
}
#map {
  height: 100%;
}

.color_low, .color_normal,.color_high{
  color:white;
}

.color_low{
  background-color: var(--main-color-low);  
}
.color_normal{
  background-color: var(--main-color-normal);
}
.color_high{
  background-color: var(--main-color-high);
}

html {
  font-size: 10px;
}

body {
  color: #5a5a5a;
  font-family: 'Signika', sans-serif;
  font-weight: 300;
}

p{
  margin: 10px;
  font-size:1.6rem;
}

img, iframe {width:100%}



.h2, h2{
font-size: 3rem;

}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;}
  
  .big_txt{
    font-size:1.8rem;
   
    }

    section{
      padding:40px 0;
      }


footer {
  padding: 20px 0 ;
  color:white;
  background-color: black;
}
.fa{

  /* font-size:1.6rem; */
  /* margin-right:10px */
}


.fa-1x{
width: 30px;
text-align: center;}

.table {
  margin-bottom: 0px;
}

.first-slide {

}
.second-slide {

}



.third-slide {
  /* background-image: url(../img/paintbox_henna_top.jpg);
  /*background-size: 1200px;*/
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
  height: 100%;
  background-color: #F7F4ED; */
/* } */}

.carousel h1 {
  font-size: 48px;
  font-weight: 300;
}
.carousel-caption {

}
.carousel a:hover {
  text-decoration: none;
}

.smaller-text {
  font-size: 13px;
}

.spacer {
  position: relative;
  overflow: hidden;
}
/* PB*/
.carousel-control.left{
  background-image:none;
}
.carousel-control.right{
  background-image:none;
}

.row-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.pricelist .row-flex{
  align-items: flex-start;
}

.one_high{
  align-items: stretch;
}

.carousel_span {
  font-size: 48px;
  display:block;
} 

.carousel-image img {
  width: 100%;
}

.carousel-cta {
  text-align: center;
  margin: 40px 0;
}


  .carousel-indicators {
    bottom: -35px;}


    /* pbw3 */
/* Position the image container (needed to position the left and right arrows) */
.container_gallery {
  position: relative;
  display:flex;
  flex-direction: column;
  /* background: black; */
  margin:20px 0px;
}

/* Hide the images by default */
.mySlides {
  width:100%;
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.container_gallery .prev,
.container_gallery .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  /* margin-top: -50px; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.container_gallery .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.container_gallery .prev:hover,
.container_gallery .next:hover {
  background-color:var(--main-color-normal);
}
a.next:hover, a.prev:hover {
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.column_flex:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column_flex {
  width:30%;
  flex-grow: 1;
}
.column_flex img {
  width: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.nav_gallery
{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

li.fiolet a, .fiolet {
  color: #7F3E98;
}
li.turkus a, .turkus {
  color: #01AAAD;
}
li.roz a, .roz {
  color: var(--main-color-normal);
}
li.zolty a, .zolty {
  color: #777;
}
.jasnyzolty {
  color: #FFDB00;
}
.szary {
  color: #6D6E72;
}
.black {
  color: #000000;
}
.bialy {
  color: #FFFFFF;
}
.bialy_shadow {
  color: #FFFFFF;
  text-shadow: 0 1px 20px rgba(0,0,0,.9);
}
.zolty_odcien {
  color: #FFAA01;
}

.navbar-toggle {
  border-color: #ddd;
  background-color: #ddd;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.1);
}

.paintboxlogo {
  display: none;
}
.smalllogo {
  display: block;
  float: left;
}
.navbar-nav a {
  color: #000000;
}
.smalllogo img {
  width: 150px;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  text-transform: uppercase;
}
.container>.navbar-header {
  margin-top: 10px;
}

/* PB */
.contact_menu{
display:none;
float:right;
color: var(--main-color-normal);
font-size: 16px;
line-height: 40px;
}

.contact_menu p{
  float:left;  
}
.contact_menu img{
  width: 40px;
  margin: 10px 5px;
  border: solid var(--main-color-normal) 3px;
  border-radius: 50%;
}
.contact_menu a{
  color: var(--main-color-normal);
}
a:hover{
  text-decoration: none;
}

.nav>li>a:hover {
 background-color: var(--main-color-normal);
 color: white;
 transition:.2s;

}
.nav>li>a:hover.fb, .nav>li>a:hover.in{
  background-color: transparent;
  color:var(--main-color-normal);
}
.navbar {
  margin-bottom: 5px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
  /* height: 560px; */
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  z-index: 10;
  width:40%;
  margin-bottom: 60px;
  top:50%;
  left: unset;
  right: 5%;
  bottom:unset;
  padding-bottom:0;
  transform: translate(0,-70%);
  text-shadow: unset;
}
/* Declare heights because of positioning of img element */

.carousel .item {
  height: 100%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/* pb */




.section_img  {
/* text-align: center; */
padding: 20px;  
}
.section_img img {
border-radius: var(--border-radius-img);
width:100%;
}

.spa_txt{
  margin-top:10px;

}



.team_img img{
  width:100%;
  padding-top:10px;
}

.testimonial_img{
  padding: 20px;

}
.testimonial_img img{
  border-radius: var(--border-radius-img);
  width: 100%;
}

.testimonial_txt {text-align:center}



/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4, .col-lg-6, .homepage .col-md-6 {
  margin-bottom: 20px;
  text-align: left;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p, .marketing .col-lg-6 p, .homepage .col-md-6 p {
  font-size: 16px;
}

.marketing .uslugi .col-md-7 p {
  font-size: 13px;
}

.marketing .uslugi p {
  font-size: 13px;
}

.marketing .uslugi p.lead {
  font-size: 14px;
}

.marketing .imprezyokolicznosciowe p {
  font-size: 21px;
}
.marketing .imprezyokolicznosciowe p.lead {
  font-size: 21px;
}

.uslugi h4 {
  font-weight: bold;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}

.featurette {
  
  padding-top:20px;
  padding-bottom:20px;


}


/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette-image {
  max-width: 80%;
}
.mainsection {
  margin-top: 100px;
}
.team p, .promotion p, .kontakt p, .kontakt label{
  font-size: 13px;
}
.kontakt i.fa-phone,  .kontakt abbr{
  font-size: 14px;
}

.promotion p.lead {
  font-size: 14px;
  color: #777;
}

.opinie footer {
  margin-top: 15px;
  font-size: 70%;
}

.opinie p {
  font-size: 15px;
  font-style: italic;
}

div.pakiet {
  padding: 20px;
  min-width: 100px;
  min-height: 250px;
  background-color: #6D6E72;
  color: #FFF;
  margin-bottom: 20px;
}

div.pakiet .name {
  font-size: 64px;
}

div.pakiet .desc {
  margin-top: 10px;
  font-size: 18px;
}

#gmap_canvas {
  overflow: hidden;
  height: 500px;
  width: 100%;
}

#gmap_canvas img{
  max-width: none!important;
  background: none!important
}

table tr td:last-child, table tr th:last-child, 
table tr td:nth-last-child(2), table tr th:nth-last-child(2) {
  text-align: left;
  font-size: 13px;
}
table tr td:last-child {
  font-size: 14px;
}

.enflag {
  width: 24px;
  height: 16px;
  border: 1px solid;
  margin-right: 6px;
  margin-bottom: 2px;
}

table tr td.cennik_sub {
  font-size: 13px;
  padding-left: 15px;
}

.polecaja {
  font-size: 52px;
}

.polecaja a:link, .polecaja a:hover, .polecaja a:visited, .polecaja a:active {
  text-decoration: none;
  color: #5a5a5a;
}

.jj {
  text-align: right;
}

.subjj {
  font-size: 13px;
}

.jjcontainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 200px;
}

.ancontainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 228px;
}

div#recommendedby {
  height: 320px;
}

#recommendedby div {
  height: 280px;
  background-color: #fff;
}

#recommendedby .carousel-indicators li {
  background-color: #fff;
  border: 1px solid #5a5a5a;
  width: 12px;
  height: 12px;
  margin: 0px;
}

#recommendedby .carousel-indicators .active {
  background-color: #5a5a5a;
}

#recommendedby .carousel-control {
  background-color: #fff;
  background-image: none;
}

#recommendedby .carousel-control .icon-prev, #recommendedby .carousel-control .icon-next {
  top: 37%;
}

div.thx {
  font-size: 28px;
  text-align: center;
}

.ekskluzywny {
  padding-top: 20px;
}

.list-social-icons>li>a.fb {
  color: #3a5795;
}

.list-social-icons>li>a.in {
  color: #000;
}


/* pb */

.alert_frame{
margin:40px 0px 20px;
background-color: var(--main-color-high);


}

.alert_frame p{
color:white;
font-size: 22px;
line-height: 60px;
text-transform: uppercase;
text-align: center;
margin:0;
}

thead tr {
  /* background: var(--main-color-high);
  color:white;
  border-radius: 10px 10px 0 0; */
 
}

.table-hover-normal thead tr {
  background: var(--main-color-normal);
 
 
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color:var(--main-color-transparent);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color:transparent;
}

.table-hover-dark>tbody>tr:hover {
  background-color: var(--main-color-high);
  color:white;
}

.table-hover-normal>tbody>tr:hover {
  background-color: var(--main-color-normal);
  color:white;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  /* padding: 8px;
  line-height: 1.42857143;
  vertical-align: top; */
  border-top: none;
}

.table>thead>tr>th {
  /* vertical-align: bottom; */
  border-bottom: none;
}

tr > td:first-child {
  width: 100%;
}

/* MANICURE PAGE */




.services_box {

  margin: 20px;
  flex:1;
  display: flex;
  flex-direction: column;
  padding:0;
  transition:.4s;
  color: white;
}

.services_box:hover .services_box_top{




}


.services_box_top{
  flex-basis:200px;
  border-radius: 10px 10px 0 0;
  background-image:url(../img/manicure_box.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display:flex;
  align-items: flex-end;
  flex-grow:1;
  transition:.4s;

}

.services_box_top h2{
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.services_box_bottom{
  /* height:50%; */
  border-radius: 0 0 10px 10px;
  background-color:var(--main-color-normal);
  padding:20px 20px;
}

.services_box_bottom p{
  /* height:50%; */
  margin:0;
}


.main_color_high{ 
  background-color:var(--main-color-high);
}


hr.interval{
margin:40px 0;
border: none;

}


.services, .pricelist {
  /* border-right: 4px solid var(--main-color-normal); */

}

.bg_dark{
  background-color: var(--bg-color-dark);
  color: var(--font-color-dark);
  }
  
  .bg_light{
    background-color: white;
    color: black;
    background-image: url("http://getwallpapers.com/wallpaper/full/a/b/e/272679.jpg");
    background-attachment: fixed;
    background-size: cover;
    }

    .bg_light2{
      background-color: white;
      color: black;
      background-image: url(../img/polish2.jpg);
      background-attachment: fixed;
      background-size: cover;
      }

.bg_cherry {
  /* padding: 20px 0; */
  /* border-left: 4px solid var(--main-color-normal); */
  /* background: #FCDEEB; */
  /* background: var(--main-color-normal);
  color: white;} */
  background-image: url(../img/polish.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color:white;
}

.description_pricelist {
  padding: 20px 0;
  background: var(--main-color-high);
  color: white;
  
}

.footer_box{
margin: 20px 0px

}

.footer_box_map{
  margin: 20px 0
}


.footer_box_map iframe {
  height: 320px;
}


.color_header{
  line-height:4rem;
  text-align: center;
  }

  .footer_box_main{

/* padding: 5px 20px; */

  }


  .footer_box_main img {
    border: solid var(--main-color-normal) 3px;
    border-radius: var(--border-radius-img);
    width:30px;
    margin-right:10px
  }
  .footer_box_main a {
    color:white;
    font-size:1.6rem;
  }

  .adress {
    margin-left:40px;
  }
/* 
  .container {
    padding: 20px;;
  } */


/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .nav>li>a {
    padding-right: 2px;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */

  .navbar-wrapper {
    /* padding-top: 100px; */
  }
  .navbar-wrapper .container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    width: 100%;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    margin-bottom: 0px;
  }
  /* The navbar becomes detached from the top, so we round the corners */

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
  .featurette-divider {
    margin: 40px 0;
    /* Space out the Bootstrap <hr> more */
  }
  .navbar-brand {
    margin-top: -70px;
  }
  .paintboxlogo {
    width: 150px;
    display: block;
  }
  .paintboxlogo img {
 
  }
  .smalllogo {
    display: none;
  }
  .mainsection {
    margin-top: 350px;
  }
  .mainsection .featurette-image {
    margin-top: 20px;
  }
  .aboutus .thumbnail {
    border: 0px;
  }

  .uslugi .col-md-6 {
    margin-bottom: 25px;
    padding-right: 50px;
  }

  .iwona {
    margin-top: 60px;
  }

  .navbar-nav>li>a.fb {
    padding-bottom: 0px; 
    padding-top: 4px;
    padding-right: 4px;
    color: #3a5795;
  }

  .navbar-nav>li>a.in {
    padding-bottom: 0px; 
    padding-top: 4px;
    padding-left: 4px;
  }

  .polecaja {
    font-size: 80px;
    margin-top: 55px;
  }
  
  .jjcontainer {
    margin-left: 125px;
    margin-top: 0px;
  }

  .ancontainer {
    width: 250px;
  }

  .celebrity-second-row {
   margin-top: 100px;
  }
  /* pb */

  .carousel h1 {
    font-size: 60px;
    font-weight: 300;
  }

  .row-flex{
    flex-direction: row;
  }
  .flex-reverse{
    flex-direction: row-reverse;
  }
  .section_img  {
    width: 100%;
    margin: 0 auto;
    }
    .contact_menu{
      display:block;
      font-size: 25px;
      line-height: 60px;
      font-weight: bold;
      }

      .contact_menu img{

        width: 40px;
        margin: 10px 5px;}

    .container_gallery {
        flex-direction: row;
      }
  
      .container_gallery .prev,
      .container_gallery .next {     
    /* display:none; */
    top: 50%;
    transform: translate(0%,-50%);
}

.container_gallery .next {
  right: 50%;
      }

.footer_box {
        /* margin: 20px 30px; */
    }

.one_high {
      padding: 0 20px;  
}  
}


@media (min-width: 992px) {
  .navbar-brand {
    margin-top: -70px;
  }
  .navbar-wrapper .container {
    width: 100%;
  }
  .paintboxlogo {
    width: 150px;
    display: block;
  }
  .paintboxlogo img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1170px) {
  .navbar-wrapper .container {
    width: 1170px;
  }
}
/**************** BUTTONS *****************/

.btn-more{margin: 30px 10px;}

.btn-zolty {
  color: #FFFFFF;
  background-color: #777;
  border-color: #777;
}
.btn-zolty:hover, .btn-zolty:focus, .btn-zolty:active, .btn-zolty.active, .open .dropdown-toggle.btn-zolty {
  color: #FFFFFF;
  background-color: #4E4A54;
  border-color: #FFFFFF;
}
.btn-zolty:active, .btn-zolty.active, .open .dropdown-toggle.btn-zolty {
  background-image: none;
}
.btn-zolty.disabled, .btn-zolty[disabled], fieldset[disabled] .btn-zolty, .btn-zolty.disabled:hover, .btn-zolty[disabled]:hover, fieldset[disabled] .btn-zolty:hover, .btn-zolty.disabled:focus, .btn-zolty[disabled]:focus, fieldset[disabled] .btn-zolty:focus, .btn-zolty.disabled:active, .btn-zolty[disabled]:active, fieldset[disabled] .btn-zolty:active, .btn-zolty.disabled.active, .btn-zolty[disabled].active, fieldset[disabled] .btn-zolty.active {
  background-color: #777;
  border-color: #777;
}
.btn-zolty .badge {
  color: #777;
  background-color: #FFF;
}
/* TURKUS */

.btn-turkus {
  color: #FFFFFF;
  background-color: #01AAAD;
  border-color: #FFFFFF;
}
.btn-turkus:hover, .btn-turkus:focus, .btn-turkus:active, .btn-turkus.active, .open .dropdown-toggle.btn-turkus {
  color: #FFFFFF;
  background-color: #018BAD;
  border-color: #FFFFFF;
}
.btn-turkus:active, .btn-turkus.active, .open .dropdown-toggle.btn-turkus {
  background-image: none;
}
.btn-turkus.disabled, .btn-turkus[disabled], fieldset[disabled] .btn-turkus, .btn-turkus.disabled:hover, .btn-turkus[disabled]:hover, fieldset[disabled] .btn-turkus:hover, .btn-turkus.disabled:focus, .btn-turkus[disabled]:focus, fieldset[disabled] .btn-turkus:focus, .btn-turkus.disabled:active, .btn-turkus[disabled]:active, fieldset[disabled] .btn-turkus:active, .btn-turkus.disabled.active, .btn-turkus[disabled].active, fieldset[disabled] .btn-turkus.active {
  background-color: #01AAAD;
  border-color: #FFFFFF;
}
.btn-turkus .badge {
  color: #01AAAD;
  background-color: #FFFFFF;
}
/* fiolet */

.btn-fiolet {
  color: #FFFFFF;
  background-color: #7F3E98;
  border-color: #FFFFFF;
}
.btn-fiolet:hover, .btn-fiolet:focus, .btn-fiolet:active, .btn-fiolet.active, .open .dropdown-toggle.btn-fiolet {
  color: #FFFFFF;
  background-color: #623E98;
  border-color: #FFFFFF;
}
.btn-fiolet:active, .btn-fiolet.active, .open .dropdown-toggle.btn-fiolet {
  background-image: none;
}
.btn-fiolet.disabled, .btn-fiolet[disabled], fieldset[disabled] .btn-fiolet, .btn-fiolet.disabled:hover, .btn-fiolet[disabled]:hover, fieldset[disabled] .btn-fiolet:hover, .btn-fiolet.disabled:focus, .btn-fiolet[disabled]:focus, fieldset[disabled] .btn-fiolet:focus, .btn-fiolet.disabled:active, .btn-fiolet[disabled]:active, fieldset[disabled] .btn-fiolet:active, .btn-fiolet.disabled.active, .btn-fiolet[disabled].active, fieldset[disabled] .btn-fiolet.active {
  background-color: #7F3E98;
  border-color: #FFFFFF;
}
.btn-fiolet .badge {
  color: #7F3E98;
  background-color: #FFFFFF;
}
/* roz */

.btn-roz {
  color: #FFFFFF;
  background-color: var(--main-color-normal);
  border:2px solid var(--main-color-normal);; 
  transition:.2s;

}
.btn-roz:hover {
  color: #FFFFFF;
  background-color: #000;
  border:solid 2px var(--main-color-normal);
  outline:none;
}

.btn.focus, .btn:focus, .btn:hover {
  color:white;
  text-decoration: none;
}


.btn-roz:active, .btn-roz.active, .open .dropdown-toggle.btn-roz {
  background-image: none;
  background-color: var(--main-color-normal);
border:solid 2px var(--main-color-normal);
}
.btn-roz.disabled, .btn-roz[disabled], fieldset[disabled] .btn-roz, .btn-roz.disabled:hover, .btn-roz[disabled]:hover, fieldset[disabled] .btn-roz:hover, .btn-roz.disabled:focus, .btn-roz[disabled]:focus, fieldset[disabled] .btn-roz:focus, .btn-roz.disabled:active, .btn-roz[disabled]:active, fieldset[disabled] .btn-roz:active, .btn-roz.disabled.active, .btn-roz[disabled].active, fieldset[disabled] .btn-roz.active {
  background-color: var(--main-color-normal);
  border:none;
}
.btn-roz .badge {
  color: var(--main-color-normal);
  background-color: #FFFFFF;
}

/* bialy */
.btn-bialy { 
  color: #ED207B; 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
}
 
.btn-bialy:hover, 
.btn-bialy:focus, 
.btn-bialy:active, 
.btn-bialy.active, 
.open .dropdown-toggle.btn-bialy { 
  color: #ED207B; 
  background-color: #FFF0F7; 
  border-color: #FFFFFF; 
} 
 
.btn-bialy:active, 
.btn-bialy.active, 
.open .dropdown-toggle.btn-bialy { 
  background-image: none; 
} 
 
.btn-bialy.disabled, 
.btn-bialy[disabled], 
fieldset[disabled] .btn-bialy, 
.btn-bialy.disabled:hover, 
.btn-bialy[disabled]:hover, 
fieldset[disabled] .btn-bialy:hover, 
.btn-bialy.disabled:focus, 
.btn-bialy[disabled]:focus, 
fieldset[disabled] .btn-bialy:focus, 
.btn-bialy.disabled:active, 
.btn-bialy[disabled]:active, 
fieldset[disabled] .btn-bialy:active, 
.btn-bialy.disabled.active, 
.btn-bialy[disabled].active, 
fieldset[disabled] .btn-bialy.active { 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
} 
 
.btn-bialy .badge { 
  color: #FFFFFF; 
  background-color: #ED207B; 
}

/* bialo szary */
.btn-bialo-szary { 
  color: #777; 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
}
 
.btn-bialo-szary:hover, 
.btn-bialo-szary:focus, 
.btn-bialo-szary:active, 
.btn-bialo-szary.active, 
.open .dropdown-toggle.btn-bialo-szary { 
  color: #777; 
  background-color: #C7C7C7; 
  border-color: #FFFFFF; 
} 
 
.btn-bialo-szary:active, 
.btn-bialo-szary.active, 
.open .dropdown-toggle.btn-bialo-szary { 
  background-image: none; 
} 
 
.btn-bialo-szary.disabled, 
.btn-bialo-szary[disabled], 
fieldset[disabled] .btn-bialo-szary, 
.btn-bialo-szary.disabled:hover, 
.btn-bialo-szary[disabled]:hover, 
fieldset[disabled] .btn-bialo-szary:hover, 
.btn-bialo-szary.disabled:focus, 
.btn-bialo-szary[disabled]:focus, 
fieldset[disabled] .btn-bialo-szary:focus, 
.btn-bialo-szary.disabled:active, 
.btn-bialo-szary[disabled]:active, 
fieldset[disabled] .btn-bialo-szary:active, 
.btn-bialo-szary.disabled.active, 
.btn-bialo-szary[disabled].active, 
fieldset[disabled] .btn-bialo-szary.active { 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
} 
 
.btn-bialo-szary .badge { 
  color: #FFFFFF; 
  background-color: #C7C7C7; 
}

/* button czerwono-bialy */
.btn-czerwony { 
  color: #E60E0E; 
  background-color: #FFFFFF; 
  border-color: #E0E0E0; 
} 
 
.btn-czerwony:hover, 
.btn-czerwony:focus, 
.btn-czerwony:active, 
.btn-czerwony.active, 
.open .dropdown-toggle.btn-czerwony { 
  color: #E60E0E; 
  background-color: #F7E4E6; 
  border-color: #E0E0E0; 
} 
 
.btn-czerwony:active, 
.btn-czerwony.active, 
.open .dropdown-toggle.btn-czerwony { 
  background-image: none; 
} 
 
.btn-czerwony.disabled, 
.btn-czerwony[disabled], 
fieldset[disabled] .btn-czerwony, 
.btn-czerwony.disabled:hover, 
.btn-czerwony[disabled]:hover, 
fieldset[disabled] .btn-czerwony:hover, 
.btn-czerwony.disabled:focus, 
.btn-czerwony[disabled]:focus, 
fieldset[disabled] .btn-czerwony:focus, 
.btn-czerwony.disabled:active, 
.btn-czerwony[disabled]:active, 
fieldset[disabled] .btn-czerwony:active, 
.btn-czerwony.disabled.active, 
.btn-czerwony[disabled].active, 
fieldset[disabled] .btn-czerwony.active { 
  background-color: #FFFFFF; 
  border-color: #E0E0E0; 
} 
 
.btn-czerwony .badge { 
  color: #FFFFFF; 
  background-color: #E60E0E; 
}

.btn-zolty-odcien { 
  color: #ffffff; 
  background-color: #FFAA01; 
  border-color: #FFBD3A; 
} 
 
.btn-zolty-odcien:hover, 
.btn-zolty-odcien:focus, 
.btn-zolty-odcien:active, 
.btn-zolty-odcien.active, 
.open .dropdown-toggle.btn-zolty-odcien { 
  color: #ffffff; 
  background-color: #9C6800; 
  border-color: #FFBD3A; 
} 
 
.btn-zolty-odcien:active, 
.btn-zolty-odcien.active, 
.open .dropdown-toggle.btn-zolty-odcien { 
  background-image: none; 
} 
 
.btn-zolty-odcien.disabled, 
.btn-zolty-odcien[disabled], 
fieldset[disabled] .btn-zolty-odcien, 
.btn-zolty-odcien.disabled:hover, 
.btn-zolty-odcien[disabled]:hover, 
fieldset[disabled] .btn-zolty-odcien:hover, 
.btn-zolty-odcien.disabled:focus, 
.btn-zolty-odcien[disabled]:focus, 
fieldset[disabled] .btn-zolty-odcien:focus, 
.btn-zolty-odcien.disabled:active, 
.btn-zolty-odcien[disabled]:active, 
fieldset[disabled] .btn-zolty-odcien:active, 
.btn-zolty-odcien.disabled.active, 
.btn-zolty-odcien[disabled].active, 
fieldset[disabled] .btn-zolty-odcien.active { 
  background-color: #FFAA01; 
  border-color: #FFBD3A; 
} 
 
.btn-zolty-odcien .badge { 
  color: #FFAA01; 
  background-color: #ffffff; 
}



